{#
/**
 * Secondary Menu (Collection/Organism)
 * Generic Drupal-compatible menu with dropdown support.
 *
 * Structure: Semantic <ul><li> recursive for Drupal integration
 * - Standard Drupal menu properties: title, url, below, attributes
 * - Automatic separators via CSS li:not(:last-child)::after
 * - Dropdown support via 'below' property (submenu items)
 *
 * Props:
 * - array items - Menu items with Drupal structure
 *   @param string title - Link text
 *   @param string url - Link URL
 *   @param array below - Submenu items (optional, recursive)
 *   @param object attributes - Drupal attributes object
 * - object attributes - Container attributes (optional)
 *
 * Drupal integration:
 * - Compatible with menu_tree Twig function
 * - Uses attributes|without('class') pattern
 * - Recursive rendering for submenus (below)
 *
 * Rules: Token-First, BEM, semantic <ul><li>, WCAG 2.2 AA, Drupal-compatible
 */
 #}

{%- set items = items|default([]) -%}
{%- set attributes = attributes|default(create_attribute()) -%}
{{ attach_library('ps_theme/menu-secondary') }}

<ul{{ attributes.addClass('ps-menu-secondary')|without('class') }} class="ps-menu-secondary">
  {% for item in items %}
    {%- set item_attributes = item.attributes|default(create_attribute()) -%}
    {%- set has_dropdown = item.below and item.below|length > 0 -%}
    
    <li{{ item_attributes.addClass('ps-menu-secondary__item')|without('class') }} class="ps-menu-secondary__item{% if has_dropdown %} ps-menu-secondary__item--has-dropdown{% endif %}">
      {% if has_dropdown %}
        {# Item with dropdown (user menu, etc.) #}
        <button class="ps-menu-secondary__link ps-menu-secondary__link--dropdown" aria-expanded="false" aria-haspopup="true">
          {{ item.title }}
          <span class="ps-menu-secondary__chevron" data-icon="chevron-down" aria-hidden="true"></span>
        </button>
        
        {# Dropdown submenu #}
        <div class="ps-menu-secondary__dropdown" hidden role="menu">
          <ul class="ps-menu-secondary__dropdown-list">
            {% for subitem in item.below %}
              <li role="none">
                <a role="menuitem" href="{{ subitem.url }}" class="ps-menu-secondary__dropdown-item">
                  {{ subitem.title }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% else %}
        {# Simple link item #}
        <a href="{{ item.url }}" class="ps-menu-secondary__link">
          {{ item.title }}
        </a>
      {% endif %}
    </li>
  {% endfor %}
</ul>
