{#
/**
 * @file
 * Secondary menu - Horizontal navigation menu matching menu.html structure
 *
 * Available variables:
 * - items: Menu items array with:
 *   - title: Link text
 *   - url: Link URL
 *   - link_class: Array of classes for the <a> element (e.g., menu-link, ps-button--primary)
 *   - icon: Optional icon name (e.g., chevron-down)
 *   - below: Nested menu items (submenu)
 * - modifier: Optional modifier class
 * - attributes: Drupal attributes object for root element
 */
#}

{%- set modifier = modifier|default(null) -%}
{%- set items = items|default([]) -%}
{%- set attributes = attributes ? attributes : create_attribute() -%}

{# Plain anchors only; styling via classes passed in YAML #}

{%- set modifier_class = modifier ? 'ps-menu-secondary--' ~ modifier : null -%}
{%- set menu_classes = [
  'ps-menu-secondary',
  modifier_class
] -%}

{#
/**
 * Macro: menu_links
 * Recursive macro to render menu items matching menu.html structure
 */
#}
{%- macro menu_links(items) -%}
  {%- import _self as menus -%}
  
  {%- for item in items -%}
    {# Separator support: item.separator true or title == 'separator' #}
    {%- if item.separator or (item.title is defined and item.title == 'separator') -%}
      <li role="separator" aria-hidden="true" class="menu-separator"><hr /></li>
    {%- else -%}
      {%- set link_classes = item.link_class|default(['menu-link']) -%}
      {%- set icon_name = item.icon|default(null) -%}
      {%- set icon_pos = (icon_name == 'chevron-down') ? 'end' : 'start' -%}
      {%- set link_attr = create_attribute().addClass(link_classes) -%}
      
      <li>
        <a href="{{ item.url|default('#') }}"{{ link_attr }}
          {%- if icon_name %} data-icon="{{ icon_name }}"{% endif -%}
          {%- if icon_name and icon_pos != 'start' %} data-icon-position="{{ icon_pos }}"{% endif -%}
        >
          {{- item.title -}}
        </a>
        
        {%- if item.below -%}
          <ul>
            {{- menus.menu_links(item.below) -}}
          </ul>
        {%- endif -%}
      </li>
    {%- endif -%}
  {%- endfor -%}
{%- endmacro -%}

{#- Render the menu -#}
{%- import _self as menus -%}
{%- set root_attr = attributes.addClass(menu_classes) -%}

<div{{- root_attr }}>
  <ul class="menu">
    {{- menus.menu_links(items) -}}
  </ul>
</div>
