{#
/**
 * Secondary Menu (Collection/Organism)
 * Generic Drupal-compatible menu with visual variations via classes.
 *
 * Structure: Semantic <ul><li> with class-based styling
 * - Standard Drupal: title, url, below, attributes
 * - Visual types via attributes.class:
 *   - 'menu-item--button-{variant}' : Styled button (primary, secondary, etc.)
 *   - 'menu-item--icon' : Icon-only with optional badge
 *   - 'menu-item--user' : User dropdown trigger
 *   - Default (no class) : Simple text link
 *
 * Props:
 * - array items - Menu items with Drupal structure
 *   @param string title - Link text
 *   @param string url - Link URL
 *   @param array below - Submenu items (optional, recursive)
 *   @param object attributes - Drupal attributes with optional classes
 *   @param string icon - Icon name (for icon type)
 *   @param string badge - Badge value (for icon type)
 *
 * Drupal integration:
 * - Compatible with menu_tree Twig function
 * - Classes added via Menu UI or hook_preprocess_menu()
 * - Example: $item['attributes']['class'][] = 'menu-item--button-primary';
 *
 * Rules: Token-First, BEM, semantic <ul><li>, WCAG 2.2 AA, Drupal-compatible
 */
 #}

{%- set items = items|default([]) -%}
{%- set attributes = attributes is defined and attributes.addClass is defined ? attributes : create_attribute(attributes|default({})) -%}
{{ attach_library('ps_theme/menu-secondary') }}

<ul{{ attributes.addClass('ps-menu-secondary') }}>
  {% for item in items %}
    {%- set raw_item_attributes = item.attributes|default({}) -%}
    {%- set item_attributes = raw_item_attributes.addClass is defined ? raw_item_attributes : create_attribute(raw_item_attributes) -%}
    {%- set has_dropdown = item.below and item.below|length > 0 -%}
    {%- set item_class_string = item_attributes.class is defined
      ? (item_attributes.class is iterable ? item_attributes.class|join(' ') : item_attributes.class)
      : ''
    -%}
    {%- set is_button = 'menu-item--button' in item_class_string -%}
    {%- set is_icon = 'menu-item--icon' in item_class_string -%}
    {%- set is_user = has_dropdown -%}
    {%- set item_wrapper_attributes = create_attribute()
      .addClass('ps-menu-secondary__item')
      .addClass(has_dropdown ? 'ps-menu-secondary__item--has-dropdown' : null)
    -%}
    
    <li{{ item_wrapper_attributes }}>
      {% if is_icon %}
        {# Icon link with optional badge #}
        <a{{ item_attributes.addClass('ps-menu-secondary__icon-link') }} href="{{ item.url }}" aria-label="{{ item.title }}">
          <span class="ps-menu-secondary__icon" data-icon="{{ item.icon|default('heart') }}" aria-hidden="true"></span>
          {% if item.badge %}
            <span class="ps-menu-secondary__badge">{{ item.badge }}</span>
          {% endif %}
        </a>
      {% elseif is_button %}
        {# Button-styled link #}
        {%- set button_variant = item_class_string|replace({
          'menu-item--button-': '',
          'menu-item--button': ''
        })|trim -%}
        {%- set outline = '-outline' in button_variant -%}
        {%- set clean_variant = button_variant|replace('-outline', '')|trim -%}
        {% include '@elements/button/button.twig' with {
          label: item.title,
          url: item.url,
          variant: clean_variant ? clean_variant : 'primary',
          outline: outline,
          size: 'small',
          class: item_class_string,
          attributes: item_attributes|without('class')
        } only %}
      {% elseif has_dropdown %}
        {# User dropdown #}
        <button{{ item_attributes.addClass('ps-menu-secondary__link', 'ps-menu-secondary__link--dropdown') }} aria-expanded="false" aria-haspopup="true">
          {{ item.title }}
          <span class="ps-menu-secondary__chevron" data-icon="chevron-down" aria-hidden="true"></span>
        </button>
        
        <div class="ps-menu-secondary__dropdown" hidden role="menu">
          <ul class="ps-menu-secondary__dropdown-list">
            {% for subitem in item.below %}
              <li role="none">
                <a role="menuitem" href="{{ subitem.url }}" class="ps-menu-secondary__dropdown-item">
                  {{ subitem.title }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% else %}
        {# Simple link #}
        <a{{ item_attributes.addClass('ps-menu-secondary__link') }} href="{{ item.url }}">
          {{ item.title }}
        </a>
      {% endif %}
    </li>
  {% endfor %}
</ul>
