{#
/**
 * @file
 * Homepage offer teaser card for carousel (Figma Product / §4).
 */
#}
<article{{ attributes.addClass(['ps-offer-teaser-card', 'card']).setAttribute('data-offer-id', node_id|default('')) }}>
  {% if image %}
    <div class="ps-offer-teaser-card__media">
      <img src="{{ image }}" alt="{{ image_alt|default(title) }}" class="ps-offer-teaser-card__image" loading="lazy" />
      {% if show_favorite or show_compare %}
        <div class="ps-offer-teaser-card__actions">
          {% if show_compare %}
            <div class="ps-offer-teaser-card__compare">
              {% block compare %}{% endblock %}
            </div>
          {% endif %}
          {% if show_favorite %}
            <div class="ps-offer-teaser-card__favorite">
              {% block favorite %}{% endblock %}
            </div>
          {% endif %}
        </div>
      {% endif %}
    </div>
  {% endif %}
  <div class="ps-offer-teaser-card__body">
    <div class="ps-offer-teaser-card__main">
      {% if price_amount %}
        <p class="ps-offer-teaser-card__price">
          <span class="ps-offer-teaser-card__price-amount">{{ price_amount }}</span>{% if surface_price_line %}<span class="ps-offer-teaser-card__price-separator"> • </span><span class="ps-offer-teaser-card__price-surface">{{ surface_price_line }}</span>{% endif %}
        </p>
      {% endif %}
      <div class="ps-offer-teaser-card__details">
        <h3 class="ps-offer-teaser-card__title" title="{{ title }}">{{ title }}</h3>
        {% if location %}
          <p class="ps-offer-teaser-card__location">
            {{ icon('bnp_custom', 'pin-map', {size: '24px'}) }}
            <span title="{{ location }}">{{ location }}</span>
          </p>
        {% endif %}
      </div>
    </div>
    {% if url %}
      <div class="ps-offer-teaser-card__cta-row">
        <a href="{{ url }}" class="ps-offer-teaser-card__cta">
          <span>{{ cta_label|default('Consult the listing'|t) }}</span>
          {{ icon('bnp_custom', 'big-arrow-right', {size: '20px'}) }}
        </a>
      </div>
    {% endif %}
  </div>
</article>
