{#
 * Link element
 * @param string text - Link text (required)
 * @param string url - Link URL (required)
 * @param string color - Link color variant: default (no class), primary, secondary, info, warning, success, danger, dark, light (optional, default: null)
 * @param string size - Link size variant: xs, sm, md, lg, xl, xxl (optional, default: null = md)
 * @param boolean underline - Show underline (optional, default: true)
 * @param string icon - Icon name without 'icon-' prefix (optional, default: '')
 * @param string iconPosition - Icon position left or right (optional, default: 'right')
 * @param string target - Link target (_self or _blank) (optional, default: '_self')
 * @param string rel - Link rel attribute (optional, default: '')
 * @param boolean disabled - Disabled state (optional, default: false)
 * @param Drupal\Core\Template\Attribute attributes - Additional attributes (optional)
 #}

{% set text = text|default('Link text') %}
{% set url = url|default('#') %}
{% set underline = underline is not null ? underline : true %}
{% set icon = icon|default('') %}
{% set iconPosition = iconPosition|default('right') %}
{% set target = target|default('_self') %}
{% set rel = rel|default('') %}
{% set disabled = disabled|default(false) %}

{% set classes = ['ps-link'] %}
{% if color %}
  {% set classes = classes|merge(['ps-link--' ~ color]) %}
{% endif %}
{% if size %}
  {% set classes = classes|merge(['ps-link--' ~ size]) %}
{% endif %}
{% if underline == false %}
  {% set classes = classes|merge(['ps-link--no-underline']) %}
{% endif %}
{% if iconPosition == 'left' %}
  {% set classes = classes|merge(['ps-link--icon-left']) %}
{% endif %}
{% if disabled %}
  {% set classes = classes|merge(['ps-link--disabled']) %}
{% endif %}

{% set tag = disabled ? 'span' : 'a' %}

<{{ tag }}
  class="{{ classes|join(' ') }}"
  {% if not disabled %}href="{{ url }}"{% endif %}
  {% if target == '_blank' and not disabled %}target="_blank" rel="{{ rel ? rel : 'noopener noreferrer' }}"{% elseif rel %}rel="{{ rel }}"{% endif %}
  {% if disabled %}aria-disabled="true"{% endif %}
  {% if attributes %}{{ attributes }}{% endif %}
>
  <span class="ps-link__text">{{ text }}</span>
  {% if icon %}
    <span class="ps-link__icon" data-icon="{{ icon }}" aria-hidden="true"></span>
  {% endif %}
</{{ tag }}>