{#
 * Radio (Atom)
 * Individual radio button with custom visual indicator
 * Follows BEM methodology with ps- prefix
 *
 * @param string name - Input name (group identifier)
 * @param string value - Input value
 * @param string id - Input ID
 * @param boolean checked - Checked state
 * @param boolean disabled - Disabled state
 * @param string label - Label text
 * @param object attributes - Drupal attributes for wrapper
 #}
{%- set name = name|default('option') -%}
{%- set value = value|default('1') -%}
{%- set id = id|default(name ~ '-' ~ value) -%}
{%- set checked = checked|default(false) -%}
{%- set disabled = disabled|default(false) -%}
{%- set label = label|default('') -%}
{%- set attributes = attributes|default(create_attribute()) -%}

{%- set classes = [
  'ps-radio',
  checked ? 'ps-radio--checked' : null,
  disabled ? 'ps-radio--disabled' : null,
] -%}

<label {{ attributes.addClass(classes) }}>
  <input
    type="radio"
    class="ps-radio__input"
    {%- if id %} id="{{ id }}"{% endif -%}
    {%- if name %} name="{{ name }}"{% endif -%}
    {%- if value %} value="{{ value }}"{% endif -%}
    {%- if checked %} checked{% endif -%}
    {%- if disabled %} disabled aria-disabled="true"{% endif -%}
  />
  <span class="ps-radio__circle" aria-hidden="true"></span>
  {%- if label %}
    <span class="ps-radio__label">{{ label }}</span>
  {% endif -%}
</label>