{#
 * Radio Item (Atom-like)
 * Individual radio input with label wrapper
 * Derived from Drupal form radio item
 *
 * @param string name - Input name (group identifier)
 * @param string value - Input value
 * @param string id - Input ID
 * @param boolean checked - Checked state
 * @param boolean disabled - Disabled state
 * @param string label - Label text
 * @param object attributes - Drupal attributes for input
 #}
{%- set name = name|default('option') -%}
{%- set value = value|default('1') -%}
{%- set id = id|default(name ~ '-' ~ value) -%}
{%- set checked = checked|default(false) -%}
{%- set disabled = disabled|default(false) -%}
{%- set label = label|default('') -%}
{%- set attributes = attributes|default(create_attribute()) -%}

<div class="form-item form-type-radio">
  <input
    type="radio"
    {{ attributes.addClass('form-radio') }}
    {%- if id %} id="{{ id }}"{% endif -%}
    {%- if name %} name="{{ name }}"{% endif -%}
    {%- if value %} value="{{ value }}"{% endif -%}
    {%- if checked %} checked{% endif -%}
    {%- if disabled %} disabled{% endif -%}
  />
  {%- if label %}<label for="{{ id }}">{{ label }}</label>{% endif -%}
</div>