{#
/**
 * @file
 * PS Divider (Atom) - Visual separator for content sections
 *
 * @param {string} orientation - horizontal|vertical (default: horizontal)
 * @param {string} style - solid|dashed|dotted (default: solid)
 * @param {string} thickness - small|medium|large (default: medium)
 * @param {string} color - neutral|primary|secondary|success|danger|warning|info|light|dark (default: neutral)
 * @param {string} spacing - small|medium|large (default: medium)
 * @param {string} text - Centered text content (optional)
 * @param {string} icon - Centered icon name (e.g., 'star', 'heart')
 * @param {object} attributes - Additional HTML attributes for Drupal integration (optional)
 */
#}
{%- set orientation = orientation|default('horizontal') -%}
{%- set style = style|default('solid') -%}
{%- set thickness = thickness|default('medium') -%}
{%- set color = color|default('neutral') -%}
{%- set spacing = spacing|default('md') -%}
{%- set text = text|default('') -%}
{%- set icon = icon|default('') -%}

{%- set root_classes = [] -%}
{%- set root_classes = root_classes|merge(['ps-divider']) -%}
{%- if orientation == 'vertical' -%}
  {%- set root_classes = root_classes|merge(['ps-divider--vertical']) -%}
{%- endif -%}
{%- if style == 'dashed' -%}
  {%- set root_classes = root_classes|merge(['ps-divider--dashed']) -%}
{%- elseif style == 'dotted' -%}
  {%- set root_classes = root_classes|merge(['ps-divider--dotted']) -%}
{%- endif -%}
{%- if thickness == 'small' -%}
  {%- set root_classes = root_classes|merge(['ps-divider--small']) -%}
{%- elseif thickness == 'large' -%}
  {%- set root_classes = root_classes|merge(['ps-divider--large']) -%}
{%- endif -%}
{%- if color and color != 'neutral' -%}
  {%- set root_classes = root_classes|merge(['ps-divider--' ~ color]) -%}
{%- endif -%}
{%- if spacing == 'small' -%}
  {%- set root_classes = root_classes|merge(['ps-divider--spacing-small']) -%}
{%- elseif spacing == 'large' -%}
  {%- set root_classes = root_classes|merge(['ps-divider--spacing-large']) -%}
{%- endif -%}
{%- if text -%}
  {%- set root_classes = root_classes|merge(['ps-divider--with-text']) -%}
{%- elseif icon -%}
  {%- set root_classes = root_classes|merge(['ps-divider--with-icon']) -%}
{%- endif -%}
{%- if modifier_class -%}
  {%- set root_classes = root_classes|merge([modifier_class]) -%}
{%- endif -%}

{%- if text or icon -%}
{%- set attr = (attributes is defined ? attributes : create_attribute()).addClass(root_classes) -%}
<div{{ attr }}>
  <span class="ps-divider__line" aria-hidden="true"></span>
  {%- if text %}
  <span class="ps-divider__text">{{ text }}</span>
  {%- elseif icon %}
  <span class="ps-divider__icon" data-icon="{{ icon }}" aria-hidden="true"></span>
  {%- endif %}
  <span class="ps-divider__line" aria-hidden="true"></span>
</div>
{%- else -%}
  {%- if orientation == 'horizontal' -%}
{%- set attr = (attributes is defined ? attributes : create_attribute()).addClass(root_classes) -%}
<hr{{ attr }} />
  {%- else -%}
{%- set attr = (attributes is defined ? attributes : create_attribute()).addClass(root_classes) -%}
<span{{ attr }} role="separator" aria-orientation="vertical"></span>
  {%- endif -%}
{%- endif -%}