{# ps-divider (element) - PS Theme #}
{%- set orientation = orientation|default('horizontal') -%}
{%- set style = style|default('solid') -%}
{%- set thickness = thickness|default('medium') -%}
{%- set color = color|default('neutral') -%}
{%- set spacing = spacing|default('md') -%}
{%- set text = text|default('') -%}
{%- set icon = icon|default('') -%}
{%- set has_content = text or icon -%}
{%- set attributes = attributes|default(create_attribute()) -%}

{%- set baseClass = baseClass|default('ps-divider') -%}
{%- set root_classes = [
  baseClass,
  orientation == 'vertical' ? baseClass ~ '--vertical' : null,
  style == 'dashed' ? baseClass ~ '--dashed' : (style == 'dotted' ? baseClass ~ '--dotted' : null),
  thickness == 'thin' ? baseClass ~ '--thin' : (thickness == 'thick' ? baseClass ~ '--thick' : null),
  color in ['primary','secondary','success','warning','danger','info'] ? baseClass ~ '--' ~ color : null,
  spacing == 'sm' ? baseClass ~ '--spacing-sm' : (spacing == 'lg' ? baseClass ~ '--spacing-lg' : null),
  text ? baseClass ~ '--with-text' : (icon ? baseClass ~ '--with-icon' : null)
] -%}

{%- if has_content -%}
  <div {{ attributes.addClass(root_classes) }}>
    <span class="{{ baseClass }}__line" aria-hidden="true"></span>
    {%- if text -%}
      <span class="{{ baseClass }}__text">{{ text }}</span>
    {%- elseif icon -%}
      <span class="{{ baseClass }}__icon" data-icon="{{ icon }}" aria-hidden="true"></span>
    {%- endif -%}
    <span class="{{ baseClass }}__line" aria-hidden="true"></span>
  </div>
{%- else -%}
  {%- if orientation == 'horizontal' -%}
    <hr {{ attributes.addClass(root_classes) }} />
  {%- else -%}
    <span {{ attributes.addClass(root_classes) }} role="separator" aria-orientation="vertical"></span>
  {%- endif -%}
{%- endif -%}