{#
 * Heading atom - Semantic typographic heading (h1-h6)
 * Props:
 *   text (string) - Heading text (required)
 *   level (string) - h1|h2|h3|h4|h5|h6 (default: h2)
 *   align (string) - left|center|right (default: left)
 *   visuallyHidden (boolean) - Screen reader only (default: false)
 *   icon (string) - Icon name (optional, e.g., 'icon-pin-map')
 *   iconPosition (string) - left|right (default: left)
 #}

{%- set level = level|default('h1') -%}
{%- set align = align|default('left') -%}
{%- set visuallyHidden = visuallyHidden|default(false) -%}
{%- set iconPosition = iconPosition|default('left') -%}
{%- set color = color|default('default') -%}
{%- set weight = weight|default('bold') -%}

{%- set classes = ['ps-heading'] -%}
{%- if level != 'h1' -%}
  {%- set classes = classes|merge(['ps-heading--' ~ level]) -%}
{%- endif -%}
{%- if align != 'left' -%}
  {%- set classes = classes|merge(['ps-heading--align-' ~ align]) -%}
{%- endif -%}
{%- if visuallyHidden -%}
  {%- set classes = classes|merge(['ps-heading--visually-hidden']) -%}
{%- endif -%}
{%- if icon -%}
  {%- set classes = classes|merge(['ps-heading--with-icon']) -%}
{%- endif -%}
{%- if color != 'default' -%}
  {%- set classes = classes|merge(['ps-heading--' ~ color]) -%}
{%- endif -%}
{%- if weight != 'bold' -%}
  {%- set classes = classes|merge(['ps-heading--' ~ weight]) -%}
{%- endif -%}

<{{ level }}
  {%- if attributes is defined -%}
    {{- attributes.addClass(classes) -}}
  {%- else -%}
    class="{{ classes|join(' ') }}"
  {%- endif -%}>
  {%- if icon and iconPosition == 'left' -%}
    <span class="ps-heading__icon {{ icon }}" aria-hidden="true"></span>
  {%- endif -%}
  <span class="ps-heading__text">{{- text -}}</span>
  {%- if icon and iconPosition == 'right' -%}
    <span class="ps-heading__icon {{ icon }}" aria-hidden="true"></span>
  {%- endif -%}
</{{ level }}>
