{#
 * Heading (Atom) - Semantic typographic heading (h1-h6)
 *
 * @param string text - Heading text content (required)
 * @param string level - h1|h2|h3|h4|h5|h6 (default: h1)
 * @param string color - default|primary|secondary|success|warning|danger|info (default: default)
 * @param string weight - light|regular|bold|extra (default: bold)
 * @param string align - left|center|right (default: left)
 * @param boolean visuallyHidden - Hide visually but keep for screen readers (default: false)
 * @param Attribute attributes - Additional HTML attributes (optional)
 #}

{%- set level = level|default('h1') -%}
{%- set align = align|default('left') -%}
{%- set visuallyHidden = visuallyHidden|default(false) -%}
{%- set color = color|default('default') -%}
{%- set weight = weight|default('bold') -%}

{%- set classes = [
  'ps-heading',
  level != 'h1' ? 'ps-heading--' ~ level : null,
  align != 'left' ? 'ps-heading--align-' ~ align : null,
  visuallyHidden ? 'ps-heading--visually-hidden' : null,
  color != 'default' ? 'ps-heading--' ~ color : null,
  weight != 'bold' ? 'ps-heading--' ~ weight : null
] -%}

<{{ level }}
  {%- if attributes is defined -%}
    {{- attributes.addClass(classes) -}}
  {%- else -%}
    class="{{ classes|join(' ')|trim }}"
  {%- endif -%}>
  <span class="ps-heading__text">{{- text -}}</span>
</{{ level }}>
