{#
/**
 * Location - Collection/Organism
 *
 * Displays offer location with icon title, address, and transport lines with icons.
 * Composes Heading atom for the title and semantic blocks for address/transport.
 *
 * @param {string} title - Section title (default: 'Location')
 * @param {string} icon - Icon name for data-icon attribute (default: 'marker')
 * @param {object} address - Address fields (line1, line2, postal_code, locality, locality_name, country_code, country_name)
 * @param {object} transport - Transport info ({ title, items: [{name, value, icon}] })
 * @param {string} html_tag - Root wrapper tag (default: 'section')
 * @param {string} title_level - Heading level for title (default: 'h3')
 * @param {object} attributes - Drupal attributes object
 */
#}

{%- set html_tag = html_tag|default('div') -%}
{%- set title_level = title_level|default('h4') -%}
{%- set title = title|default('Location') -%}
{%- set icon = icon|default('marker') -%}
{%- set address = address|default({}) -%}
{%- set transport = transport|default({}) -%}

{%- set address_line1 = address.address_line1|default('') -%}
{%- set address_line2 = address.address_line2|default('') -%}
{%- set postal_code = address.postal_code|default('') -%}
{%- set locality = address.locality|default(address.locality_name|default('')) -%}
{%- set locality_name = address.locality_name|default(locality) -%}
{%- set country_name = address.country.name|default('') -%}

{%- set postal_locality = postal_code or locality_name ? [postal_code, locality_name]|join(' ') : '' -%}

{%- set address_lines = [] -%}
{%- if address_line1 -%}
  {%- set address_lines = address_lines|merge([address_line1]) -%}
{%- endif -%}
{%- if address_line2 -%}
  {%- set address_lines = address_lines|merge([address_line2]) -%}
{%- endif -%}
{%- if postal_locality -%}
  {%- set address_lines = address_lines|merge([postal_locality]) -%}
{%- endif -%}
{%- if country_name -%}
  {%- set address_lines = address_lines|merge([country_name]) -%}
{%- endif -%}

{%- set classes = [
  'ps-location'
] -%}
{%- set attr = (attributes is defined ? attributes : create_attribute()).addClass(classes) -%}

<{{ html_tag }}{{ attr }}>
  {% if title %}
    {% include '@elements/heading/heading.twig' with {
      level: title_level,
      text: title,
      icon: icon,
      attributes: create_attribute().addClass('ps-location__title')
    } only %}
  {% endif %}

  {% if address_lines %}
    <address class="ps-location__address">
      {% for line in address_lines %}
        <div class="ps-location__address-line">{{ line }}</div>
      {% endfor %}
    </address>
  {% endif %}

  {% if transport.items is defined and transport.items %}
    <div class="ps-location__transport">
      {% if transport.title %}
        <p class="ps-location__transport-title">{{ transport.title }}</p>
      {% endif %}
      <ul class="ps-location__transport-list">
        {% for item in transport.items %}
          <li class="ps-location__transport-item">
            {% if item.icon %}<span class="ps-location__transport-icon" data-icon="{{ item.icon }}" aria-hidden="true"></span>{% endif %}
            <span class="ps-location__transport-label">{{ item.name|default(item) }}</span>
            {% if item.value %}<span class="ps-location__transport-value">{{ item.value }}</span>{% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
</{{ html_tag }}>
