{#
 * Select (Atom)
 * Native <select> wrapped with custom chevron icon
 *
 * BEM Structure:
 * - Block: .ps-select (wrapper div)
 * - Element: .ps-select__input (native select)
 * - Element: .ps-select__icon (chevron-down icon)
 * - Modifiers: --disabled, --error, --success
 *
 * @param array options - List of options: [{ value, label, disabled=false, selected=false }]
 * @param string name - Name attribute
 * @param string id - ID attribute (defaults to name-based)
 * @param boolean disabled - Disabled state (default: false)
 * @param boolean required - Required state (default: false)
 * @param string error - Error state (default: null)
 * @param string success - Success state (default: null)
 * @param string warning - Warning state (default: null)
 * @param object attributes - Drupal attributes for the <select>
 * @param object wrapper_attributes - Drupal attributes for the wrapper
 #}

{%- set class = class|default(null) -%}
{%- set options = options|default([]) -%}
{%- set name = name|default('') -%}
{%- set id = id|default(name ? name ~ '-select' : 'ps-select') -%}
{%- set disabled = disabled|default(false) -%}
{%- set required = required|default(false) -%}
{%- set error = error|default(null) -%}
{%- set success = success|default(null) -%}
{%- set warning = warning|default(null) -%}
{%- set attributes = attributes|default(create_attribute()) -%}
{%- set wrapper_attributes = wrapper_attributes|default(create_attribute()) -%}

{%- set wrapper_classes = [
  'ps-select',
  disabled ? 'ps-select--disabled' : null,
  error ? 'ps-select--error' : null,
  success ? 'ps-select--success' : null,
  warning ? 'ps-select--warning' : null,
  class ? class : null
] -%}

<div class="{{ wrapper_classes|join(' ')|trim }}"
  {%- if wrapper_attributes %} {{ wrapper_attributes|without('class') }}{% endif -%}>
  <select
    class="ps-select__input form-control"
    {{ attributes
      .setAttribute('id', id)
      .setAttribute('name', name)
    }}
    {%- if disabled %} disabled aria-disabled="true"{% endif -%}
    {%- if required %} required aria-required="true"{% endif -%}
  >
    {%- for option in options -%}
      <option
        value="{{ option.value|default('') }}"
        {%- if option.disabled|default(false) %} disabled{% endif -%}
        {%- if option.selected|default(false) %} selected{% endif -%}
      >{{ option.label|default('') }}</option>
    {%- endfor -%}
  </select>
</div>
