{#
 * Select (Atom)
 * Native <select> wrapped with custom chevron icon
 *
 * BEM Structure:
 * - Block: .ps-select (wrapper div)
 * - Element: .ps-select__input (native select)
 * - Element: .ps-select__icon (chevron-down icon)
 * - Modifiers: --disabled, --error, --success
 *
 * @param array options - List of options: [{ value, label, disabled=false, selected=false }] OR optgroups: [{ label, options: [...] }]
 * @param string name - Name attribute
 * @param string id - ID attribute (defaults to name-based)
 * @param boolean disabled - Disabled state (default: false)
 * @param boolean required - Required state (default: false)
 * @param string error - Error state (default: null)
 * @param string success - Success state (default: null)
 * @param string warning - Warning state (default: null)
 * @param object attributes - Drupal attributes for the <select>
 * @param object wrapper_attributes - Drupal attributes for the wrapper
 #}

{%- set modifier_class = modifier_class|default(null) -%}
{%- set options = options|default([]) -%}
{%- set name = name|default('') -%}
{%- set id = id|default(name ? name ~ '-select' : 'ps-select') -%}
{%- set disabled = disabled|default(false) -%}
{%- set required = required|default(false) -%}
{%- set error = error|default(null) -%}
{%- set success = success|default(null) -%}
{%- set warning = warning|default(null) -%}
{%- set attributes = attributes|default(null) -%}
{%- set wrapper_attributes = wrapper_attributes|default(null) -%}

{%- set wrapper_classes = ['ps-select'] -%}
{%- if disabled -%}
  {%- set wrapper_classes = wrapper_classes|merge(['ps-select--disabled']) -%}
{%- endif -%}
{%- if error -%}
  {%- set wrapper_classes = wrapper_classes|merge(['ps-select--error']) -%}
{%- endif -%}
{%- if success -%}
  {%- set wrapper_classes = wrapper_classes|merge(['ps-select--success']) -%}
{%- endif -%}
{%- if warning -%}
  {%- set wrapper_classes = wrapper_classes|merge(['ps-select--warning']) -%}
{%- endif -%}
{%- if modifier_class -%}
  {%- set wrapper_classes = wrapper_classes|merge([modifier_class]) -%}
{%- endif -%}
{%- set wrapper_attr = (wrapper_attributes ? wrapper_attributes : create_attribute()).addClass(wrapper_classes) -%}

<div{{ wrapper_attr }}>
  <select class="ps-select__input form-control"{{- id ? ' id="' ~ id ~ '"' : '' -}}{{- name ? ' name="' ~ name ~ '"' : '' -}}{{- attributes ? ' ' ~ attributes|without('class') : '' -}}{{- disabled ? ' disabled aria-disabled="true"' : '' -}}{{- required ? ' required aria-required="true"' : '' -}}>
    {% for item in options -%}
      {%- if item.options -%}
    <optgroup label="{{ item.label|default('') }}">
      {%- for option in item.options -%}
      <option value="{{ option.value|default('') }}"{{- option.disabled|default(false) ? ' disabled' : '' -}}{{- option.selected|default(false) ? ' selected' : '' -}}>{{ option.label|default('') }}</option>
      {%- endfor -%}
    </optgroup>
      {%- else -%}
    <option value="{{ item.value|default('') }}"{{- item.disabled|default(false) ? ' disabled' : '' -}}{{- item.selected|default(false) ? ' selected' : '' -}}>{{ item.label|default('') }}</option>
      {%- endif -%}
    {% endfor -%}
  </select>
</div>
