{#
 * Figure - Simple image with hover caption
 *
 * @param {string} [src] - Image source URL (required)
 * @param {string} [alt] - Image alternative text (required)
 * @param {string} [caption] - Caption text (shows on hover with overlay)
 * @param {string} [icon] - Optional icon name (without prefix)
 * @param {object} [attributes] - Additional HTML attributes for Drupal
 #}

{# Default values #}
{%- set caption = caption|default('') -%}
{%- set icon = icon|default('') -%}

{# Build classes #}
{%- set figure_classes = [
  'ps-figure',
  caption ? 'ps-figure--with-caption' : null
] -%}

{# Drupal attribute object #}
{%- set attrs = (attributes ? attributes : create_attribute()).addClass(figure_classes) -%}

<figure{{ attrs }}>
  <img
    src="{{ src }}"
    alt="{{ alt }}"
    class="ps-figure__image"
    loading="lazy"
  />
  
  {%- if caption -%}
    <figcaption class="ps-figure__caption">
      {%- if icon -%}
        <span class="ps-figure__icon" data-icon="{{ icon }}" aria-hidden="true"></span>
      {%- endif -%}
      <span class="ps-figure__text">{{ caption }}</span>
    </figcaption>
  {%- endif -%}
</figure>
