{#
/**
 * @file
 * Site-wide urgency contact block (phone + opening hours).
 *
 * Variables: lead, phone_display, phone_href, hours
 */
#}
<div class="ps-site-urgency-help ps-search-alert-form__help">
  <p class="ps-site-urgency-help__lead ps-search-alert-form__help-lead">
    {{ lead }}
    {% if phone_href and phone_display %}
      <a href="{{ phone_href }}">{{ phone_display }}</a>
    {% elseif phone_display %}
      {{ phone_display }}
    {% endif %}
  </p>
  {% if hours %}
    <p class="ps-site-urgency-help__hours ps-search-alert-form__help-hours">{{ hours }}</p>
  {% endif %}
</div>
