{#
 * List - HTML list element (ul/ol)
 *
 * Basic styled list component for content.
 * ul = bulleted by default, ol = numbered by default.
 *
 * @param {array} items - Array of list items (strings or HTML)
 * @param {string} [variant] - Optional modifier: 'unstyled' to remove markers
 * @param {string} [type='ul'] - HTML element type: ul|ol
 * @param {object} [attributes] - Drupal attribute bag (required for integration)
 #}

{%- set items = items|default([]) -%}
{%- set type = type|default('ul') -%}
{%- set attributes = attributes ? attributes : create_attribute() -%}

{%- set list_classes = ['ps-list'] -%}
{%- if variant -%}
  {%- set list_classes = list_classes|merge(['ps-list--' ~ variant]) -%}
{%- endif -%}

{% if type == 'ol' %}
<ol class="{{ list_classes|join(' ') }}"{% if attributes %} {{ attributes|without('class') }}{% endif %}>
  {% for item in items -%}
    <li class="ps-list__item">{{ item|raw }}</li>
  {%- endfor %}
</ol>
{% else %}
<ul class="{{ list_classes|join(' ') }}"{% if attributes %} {{ attributes|without('class') }}{% endif %}>
  {% for item in items -%}
    <li class="ps-list__item">{{ item|raw }}</li>
  {%- endfor %}
</ul>
{% endif %}
