{%
  set classes = [
    'ps-agent',
    'ps-agent--card',
    'ps-agent-sidebar-profile',
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {% if content.avatar %}
    <div class="ps-agent-sidebar-profile__avatar">
      {{ content.avatar }}
    </div>
  {% endif %}
  <div class="ps-agent-sidebar-profile__details">
    {% if consultant_label %}
      <p class="ps-agent-sidebar-profile__label">{{ consultant_label }} :</p>
    {% endif %}
    {% if content.display_name %}
      <div class="ps-agent-sidebar-profile__name">
        {{ content.display_name }}
      </div>
    {% endif %}
    {% if content.phone %}
      <div class="ps-agent-sidebar-profile__phone">
        <span class="ps-agent-sidebar-profile__phone-icon" aria-hidden="true">
          {{ icon('bnp_custom', 'phone', {'size': '20px'}) }}
        </span>
        {{ content.phone }}
      </div>
    {% endif %}
  </div>
</div>
