<div class="ps-favorite-header" data-ps-favorite-header>
  <a
    href="{{ offcanvas_url }}"
    class="ps-favorite-header__trigger use-ajax"
    data-dialog-type="dialog"
    data-dialog-renderer="off_canvas"
    data-dialog-options="{{ dialog_options }}"
    aria-label="{{ 'Open favorites panel'|t }}"
  >
    <span class="ps-favorite-header__icon" aria-hidden="true">
      {{ icon('bnp_custom', 'fav-stroke', {'size': '20px'}) }}
    </span>
    <span class="ps-favorite-header__label">{{ 'Favorites'|t }}</span>
    {{ count }}
  </a>
</div>
