{#
/**
 * @file
 * Property Search mega menu — tools / promo column (desktop + mobile).
 */
#}
<div class="ps-mega-menu-tools">
  <div class="ps-mega-menu-tools__section">
    <p class="ps-mega-menu-tools__heading">{{ 'Discover your tools:'|t }}</p>
    <ul class="ps-mega-menu-tools__links">
      <li>
        <a class="ps-mega-menu-tools__link" href="#">{{ 'Office or coworking rental? Take the test!'|t }}</a>
      </li>
      <li>
        <a class="ps-mega-menu-tools__link" href="#">{{ 'Calculate your target office space'|t }}</a>
      </li>
    </ul>
  </div>
  <div class="ps-mega-menu-tools__section">
    <p class="ps-mega-menu-tools__heading">{{ 'Our internal tools:'|t }}</p>
    <ul class="ps-mega-menu-tools__links">
      <li>
        <a class="ps-mega-menu-tools__link" href="#">{{ 'eCommute: employee commute time calculator'|t }}</a>
      </li>
      <li>
        <a class="ps-mega-menu-tools__link" href="#">{{ 'eSelect: personalised listing matching tool'|t }}</a>
      </li>
    </ul>
  </div>
</div>
