{#
/**
 * @file
 * Header Layout (Template) - Main site header with navigation
 *
 * Available variables:
 * - page.header_branding: Drupal region (logo / branding)
 * - page.header_navigation: Drupal region (primary navigation)
 * - page.header_top: Drupal region (top right utilities)
 * - page.header_bottom: Drupal region (actions stack)
 * - sticky: Boolean to enable sticky header behavior
 * - mobile_breakpoint: Breakpoint for mobile menu (default: 1024px / lg)
 * - attributes: Drupal Attribute object for root element
 * - modifier_class: Optional modifier class
 *
 * Drupal integration:
 * - Utilise exclusivement les régions Drupal (aucun fallback interne)
 * - Inclut un toggle mobile et le sticky via JavaScript
 *
 * @see header.css
 * @see header.js
 */
#}

{%- set sticky = sticky|default(true) -%}

{%- set classes = [
  'ps-header',
  sticky ? 'ps-header--sticky' : null,
  modifier_class
] -%}

{%- set attr = (attributes ? attributes : create_attribute()).addClass(classes) -%}

<header{{ attr }} data-component="header">
  <div class="ps-header__bar">
    <button
      class="ps-header__toggle"
      type="button"
      aria-label="Toggle navigation menu"
      aria-expanded="false"
      aria-controls="ps-header-panel"
      data-header-toggle
    ></button>
    <div class="ps-header__brand ps-header__brand--inline">
      {{ page.header_branding|default('') }}
    </div>
    <div class="ps-header__top ps-header__top--inline">
      {{ page.header_top|default('') }}
    </div>
  </div>

  <div class="ps-header__panel" id="ps-header-panel">
    <div class="ps-header__layout">
      <div class="ps-header__cell ps-header__cell--branding">
        <div class="ps-header__brand">
          {{ page.header_branding|default('') }}
        </div>
      </div>

      <div class="ps-header__cell ps-header__cell--top">
        <div class="ps-header__top">
          {{ page.header_top|default('') }}
        </div>
      </div>

      <nav class="ps-header__cell ps-header__cell--navigation" aria-label="Main navigation">
        {{ page.header_navigation|default('') }}
      </nav>

      <div class="ps-header__cell ps-header__cell--bottom">
        {{ page.header_bottom|default('') }}
      </div>
    </div>
  </div>
</header>
