<button
  type="button"
  class="ps-favorite-button ps-favorite-button--{{ context }}{{ is_favorite ? ' is-active' : '' }}"
  data-ps-favorite-toggle
  data-entity-type-id="{{ entity_type_id }}"
  data-entity-id="{{ entity_id }}"
  data-url="{{ toggle_url }}"
  data-label-add="{{ label_add }}"
  data-label-remove="{{ label_remove }}"
  data-text-add="{{ text_add }}"
  data-text-remove="{{ text_remove }}"
  aria-pressed="{{ is_favorite ? 'true' : 'false' }}"
  aria-label="{{ is_favorite ? label_remove : label_add }}"
  title="{{ is_favorite ? label_remove : label_add }}"
>
  <span class="ps-favorite-button__icon" aria-hidden="true">
    <span class="ps-favorite-button__icon-state ps-favorite-button__icon-state--inactive">
      {{ icon('bnp_custom', 'fav-stroke', {'size': '20px'}) }}
    </span>
    <span class="ps-favorite-button__icon-state ps-favorite-button__icon-state--active">
      {{ icon('bnp_custom', 'fav-filled', {'size': '20px'}) }}
    </span>
  </span>
  <span class="ps-favorite-button__text js-ps-favorite-text">{{ is_favorite ? text_remove : text_add }}</span>
  <span class="visually-hidden js-ps-favorite-sr">{{ is_favorite ? label_remove : label_add }}</span>
</button>
