{#
/**
 * @file
 * Grid view rows with promo card insertion slots.
 */
#}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
<div{{ attributes.addClass('views-grid', 'promo-card-grid') }}>
  {% for row in rows %}
    <div{{ row.attributes.addClass('views-row') }}>
      {{- row.content -}}
    </div>
    {% if promo_card_slots[loop.index] is defined %}
      <div class="views-row promo-card-slot">
        {{ promo_card_slots[loop.index] }}
      </div>
    {% endif %}
  {% endfor %}
</div>
