{% set attributes = create_attribute(attributes|default({})) %}
{% set groups = groups|default([]) %}

<div{{attributes.addClass('ps-features-grid')}}>
	{% for group in groups %}
		{% set items = group.items|default([]) %}
		{% set columns_min_items = group.columns_min_items|default(0) %}
		{% set classes = [
			'ps-features',
			columns_min_items > 0 and items|length >= columns_min_items ? 'ps-features--two-columns' : null,
		] %}

		<section class="ps-features-grid__group">
			{% if group.title %}
				<h2 class="ps-features__title d-flex align-items-center gap-3 mb-0">
					{% if group.icon %}
						<span class="ps-features__title-icon" aria-hidden="true">{{ icon('bnppre', group.icon, {'size': '1rem'})|render }}</span>
					{% endif %}
					<span>{{ group.title }}</span>
				</h2>
			{% endif %}

			{% if items %}
				<ul class="{{ classes|filter(v => v)|join(' ') }} ps-features__list mb-0">
					{% for item in items %}
						<li class="ps-features__item">{{ item }}</li>
					{% endfor %}
				</ul>
			{% endif %}
		</section>
	{% endfor %}
</div>
