{#
/**
 * @file
 * PS Logo (Component/Molecule) - Brand logo for BNP Paribas Real Estate
 *
 * Flexible, data-driven logo component with optional slogan.
 * Inspired by Drupal's block--system-branding-block template.
 *
 * Available variables:
 * - site_logo: Logo image path or URI
 * - site_slogan: Site/company slogan (optional, displayed below/centered)
 * - url: Link URL (optional, typically <front>)
 * - rel: Link relationship (optional, e.g., "home")
 * - attributes: HTML attributes
 *
 * Layout (flexbox column):
 * - Logo image top (48px desktop, 40px mobile)
 * - Slogan bottom, centered horizontally
 */
#}

{%- set has_content = site_logo or site_slogan -%}

{%- if has_content -%}
  {%- if url -%}
    <a href="{{ url }}" {{ attributes }}>
  {%- else -%}
    <div{{ attributes }}>
  {%- endif -%}

    {%- if site_logo -%}
      <img class="ps-logo__image" src="{{ site_logo }}" alt="Logo" />
    {%- endif -%}

    {%- if site_slogan -%}
      <div class="ps-logo__slogan">{{ site_slogan }}</div>
    {%- endif -%}

  {%- if url -%}
    </a>
  {%- else -%}
    </div>
  {%- endif -%}
{%- endif -%}

