{#
/**
 * Diagnostics Collection (Organism)
 *
 * Section displaying multiple diagnostic indicators (energy, emissions, etc.)
 * with optional labels/images (LEED badges, etc.) at the bottom.
 * Composes Diagnostic components in a grid layout.
 *
 * Variables:
 * - title: Section title (e.g., "Energy")
 * - icon: Icon name for data-icon attribute
 * - diagnostics: Array of diagnostic data objects
 * - labels: Array of image objects (with optional link)
 * - attributes: Drupal attributes object for root element
 */
#}

{%- set html_tag = html_tag|default('div') -%}
{%- set title_level = title_level|default('h4') -%}
{%- set title = title|default('') -%}
{%- set icon = icon|default('') -%}
{%- set diagnostics = diagnostics|default([]) -%}
{%- set labels = labels|default([]) -%}

{{ attach_library('ps_theme/diagnostics') }}

{%- set diagnostics_classes = [
  'ps-diagnostics'
] -%}

{%- set attr = (attributes is defined ? attributes : create_attribute()).addClass(diagnostics_classes) -%}

<{{ html_tag }}{{ attr }}>
  {% include '@elements/heading/heading.twig' with {
    level: title_level,
    text: title,
    icon: icon,
    attributes: create_attribute().addClass('ps-diagnostics__title')
  } only %}

  {% if diagnostics|length > 0 %}
    <div class="ps-diagnostics__grid">
      {%- for diagnostic in diagnostics -%}
        <div class="ps-diagnostics__item">
          {% include '@components/diagnostic/diagnostic.twig' with diagnostic only %}
        </div>
      {%- endfor -%}
    </div>
  {% endif %}

  {% if labels|length > 0 %}
    <div class="ps-diagnostics__labels">
      {%- for label in labels -%}
        <div class="ps-diagnostics__label-item">
          {%- if label.url -%}
            <a href="{{ label.url }}" class="ps-diagnostics__label-link">
              <img src="{{ label.src }}" alt="{{ label.alt|default('Label') }}" class="ps-diagnostics__label-image" />
            </a>
          {%- else -%}
            <img src="{{ label.src }}" alt="{{ label.alt|default('Label') }}" class="ps-diagnostics__label-image" />
          {%- endif -%}
        </div>
      {%- endfor -%}
    </div>
  {% endif %}
</{{ html_tag }}>
