{#
/**
 * @file
 * News article teaser card (Figma News / §7).
 */
#}
<article class="ps-news-teaser-card">
  {% if image %}
    <div class="ps-news-teaser-card__media">
      <img src="{{ image }}" alt="{{ image_alt|default(title) }}" class="ps-news-teaser-card__image" loading="lazy" />
    </div>
  {% endif %}
  <div class="ps-news-teaser-card__body">
    <div class="ps-news-teaser-card__main">
      {% if category or date %}
        <div class="ps-news-teaser-card__meta">
          {% if category %}
            <span class="ps-news-teaser-card__tag">{{ category }}</span>
          {% endif %}
          {% if date %}
            <time class="ps-news-teaser-card__date" datetime="{{ date_iso|default('') }}">{{ date }}</time>
          {% endif %}
        </div>
      {% endif %}
      <div class="ps-news-teaser-card__details">
        {% if url %}
          <h3 class="ps-news-teaser-card__title">
            <a href="{{ url }}" class="ps-news-teaser-card__title-link">{{ title }}</a>
          </h3>
        {% else %}
          <h3 class="ps-news-teaser-card__title">{{ title }}</h3>
        {% endif %}
        {% if excerpt %}
          <p class="ps-news-teaser-card__excerpt">{{ excerpt }}</p>
        {% endif %}
      </div>
    </div>
    {% if url %}
      <a href="{{ url }}" class="ps-news-teaser-card__cta">
        <span>{{ 'Read more'|t }}</span>
        {{ icon('bnp_custom', 'big-arrow-right', {size: '20px'}) }}
      </a>
    {% endif %}
  </div>
</article>
