{#
/**
 * @file
 * Similar offers block on offer detail page.
 */
#}
{%
  set classes = [
    'view',
    'view-' ~ id|clean_class,
    'view-id-' ~ id,
    'view-display-id-' ~ display_id,
    dom_id ? 'js-view-dom-id-' ~ dom_id,
    'ps-offer-section',
    'ps-offer-section--similar',
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if title %}
    <h2 class="ps-offer-section__title">{{ title }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% if header %}
    <div class="view-header">{{ header }}</div>
  {% endif %}
  {% if rows %}
    <div class="ps-offer-similar__track">
      {{ rows }}
    </div>
  {% elseif empty %}
    <div class="view-empty">{{ empty }}</div>
  {% endif %}
  {% if pager %}
    {{ pager }}
  {% endif %}
  {% if footer %}
    <div class="view-footer">{{ footer }}</div>
  {% endif %}
  {% if more %}
    {{ more }}
  {% endif %}
  {% if feed_icons %}
    <div class="feed-icons">{{ feed_icons }}</div>
  {% endif %}
</div>
