{#
/**
 * Offer Map Section (Full-Width)
 * Address, Interactive Map, POI Filters, Travel Time Calculator
 * 
 * @param object location - Address and map data
 * @param object poi - Points of interest filters
 * @param object travelTime - Travel time calculator config
 * @param boolean skeleton - Loading state
 */
#}

{% set location = location|default({}) %}
{% set poi = poi|default({}) %}
{% set travelTime = travelTime|default({}) %}
{% set skeleton = skeleton|default(false) %}

{% if location.address or location.map or poi.categories|default([])|length > 0 or travelTime.enabled %}
  <section class="offer-map" aria-label="Location and map">
    {% if skeleton %}
      {% include '@elements/skeleton/skeleton.twig' with {
        variant: 'rectangle',
        width: '100%',
        height: '500px'
      } only %}
    {% else %}
      <div class="offer-map__container">
        {# Address #}
        {% if location.address %}
          <div class="offer-map__address">
            <p><strong>{{ location.address.street }}</strong></p>
            <p>{{ location.address.city }}, {{ location.address.postal }}</p>
          </div>
        {% endif %}

        {# Map Placeholder #}
        <div class="offer-map__placeholder">
          <p>🗺️ Interactive map widget - Component to be implemented</p>
          <p>Coordinates: {{ location.map.lat|default('N/A') }}, {{ location.map.lng|default('N/A') }}</p>
        </div>

        {# POI Filters #}
        {% if poi.categories|default([])|length > 0 %}
          <div class="offer-map__poi">
            <p>📍 POI Filters: {{ poi.categories|join(', ') }}</p>
            <p>Checkboxes for: Transports, Parking, Restaurants, Hotels</p>
          </div>
        {% endif %}

        {# Travel Time Calculator #}
        {% if travelTime.enabled %}
          <div class="offer-map__travel-time">
            <p>🚗 Calculate travel time - Component to be implemented</p>
            <p>Origin: {{ travelTime.origin|default('N/A') }}</p>
          </div>
        {% endif %}
      </div>
    {% endif %}
  </section>
{% endif %}
