{#
/**
 * @file
 * Footer Layout (Template)
 *
 * Available variables:
 * - page.footer_top_col1: Drupal region (Contact Us + Follow Us blocks)
 * - page.footer_top_col2: Drupal region (Menu Links sections Column 1)
 * - page.footer_top_col3: Drupal region (Menu Links sections Column 2)
 * - page.footer_legal: Drupal region (Legal Links menu)
 * - page.footer_branding: Drupal region (Logo / Branding)
 * - page.footer_copyright: Drupal region (Copyright notice)
 * - attributes: Drupal Attribute object for root element
 * - modifier_class: Optional modifier class
 *
 * Drupal integration:
 * - Utilise exclusivement les régions Drupal (aucun fallback interne)
 * - Aucun include de blocs (Drupal injecte le contenu des blocs via régions)
 * - Laisser Drupal gérer l'organisation des contenus
 *
 * @see footer.css
 */
#}

{%- set classes = ['ps-footer'] -%}
{%- if modifier_class -%}
  {%- set classes = classes|merge([modifier_class]) -%}
{%- endif -%}
{%- set attr = (attributes is defined ? attributes : create_attribute()).addClass(classes) -%}

<footer{{ attr }} role="contentinfo">
  {# ========== TOP: 3 Colonnes (Contact+Social | Menu1 | Menu2) ========== #}
  <div class="ps-footer__top">
    {# Colonne 1: Contact + Social #}
    <div class="ps-footer__column ps-footer__column--1">
      {% if page.footer_top_col1 %}
        {{ page.footer_top_col1 }}
      {% endif %}
    </div>

    {# Colonne 2: Menu Links (Section 1) #}
    <div class="ps-footer__column ps-footer__column--2">
      {% if page.footer_top_col2 %}
        {{ page.footer_top_col2 }}
      {% endif %}
    </div>

    {# Colonne 3: Menu Links (Section 2) #}
    <div class="ps-footer__column ps-footer__column--3">
      {% if page.footer_top_col3 %}
        {{ page.footer_top_col3 }}
      {% endif %}
    </div>
  </div>

  {# ========== BOTTOM: Logo | Legal Menu | Copyright ========== #}
  <div class="ps-footer__bottom">
    {# Logo / Branding #}
    {% if page.footer_branding %}
      <div class="ps-footer__branding">
        {{ page.footer_branding }}
      </div>
    {% endif %}

    {# Legal Links #}
    {% if page.footer_legal %}
      <div class="ps-footer__legal">
        {{ page.footer_legal }}
      </div>
    {% endif %}

    {# Copyright #}
    {% if page.footer_copyright %}
      <div class="ps-footer__copyright">
        {{ page.footer_copyright }}
      </div>
    {% endif %}
  </div>
</footer>
