{#
/**
 * @file
 * PS Collapse (Element/Atom) - Collapsible disclosure element
 *
 * @param {string} id - Unique identifier for panel/trigger linkage (required)
 * @param {string} title - Trigger text (required)
 * @param {string} content - Panel content (raw HTML, use with content|raw)
 * @param {boolean} expanded - Initial expanded state (default: false)
 * @param {string} variant - Visual variant (default)
 * @param {array} classes - Additional CSS classes
 * @param {object} attributes - Additional HTML attributes
 */
#}

{%- set collapse_classes = [] -%}
{%- set collapse_classes = collapse_classes|merge(['ps-collapse']) -%}
{%- if variant and variant != 'default' -%}
  {%- set collapse_classes = collapse_classes|merge(['ps-collapse--' ~ variant]) -%}
{%- endif -%}
{%- if expanded -%}
  {%- set collapse_classes = collapse_classes|merge(['is-expanded']) -%}
{%- endif -%}
{%- if classes -%}
  {%- set collapse_classes = collapse_classes|merge(classes) -%}
{%- endif -%}
{%- if modifier_class -%}
  {%- set collapse_classes = collapse_classes|merge([modifier_class]) -%}
{%- endif -%}

{%- set trigger_classes = ['ps-collapse__trigger'] -%}
{%- set panel_classes = ['ps-collapse__panel'] -%}
{%- set panel_id = id ~ '-panel' -%}
{%- set trigger_id = id ~ '-trigger' -%}

{%- set attr = (attributes ? attributes : create_attribute()).addClass(collapse_classes) -%}

<div{{ attr }}>
  <{{ trigger_tag|default('button') }} id="{{ trigger_id }}" class="{{ trigger_classes|join(' ') }}" aria-expanded="{{ expanded ? 'true' : 'false' }}" aria-controls="{{ panel_id }}"{% if trigger_tag|default('button') != 'button' %} role="button" tabindex="0"{% endif %}{% if trigger_tag|default('button') == 'button' %} type="button"{% endif %}>
    <span class="ps-collapse__title">{{ title }}</span>
    <span class="ps-collapse__icon" aria-hidden="true"></span>
  </{{ trigger_tag|default('button') }}>
  <div id="{{ panel_id }}" role="region" aria-labelledby="{{ trigger_id }}" class="{{ panel_classes|join(' ') }}"{% if not expanded %} hidden{% endif %}>
    <div class="ps-collapse__content">
      {{ content|default('')|raw }}
    </div>
  </div>
</div>
