{% set attributes = create_attribute(attributes|default({})) %}
{% set has_top = top is defined and top is not empty %}
{% set has_header_left = header_left is defined and header_left is not empty %}
{% set has_header_right = header_right is defined and header_right is not empty %}
{% set has_content = content is defined and content is not empty %}
{% set has_footer = footer is defined and footer is not empty %}

<div{{attributes.addClass('ps-offer-meta')}}>
	{% if has_top %}
		<div class="ps-offer-meta__top">
			{{ top }}
		</div>
	{% endif %}

	{% if has_header_left or has_header_right %}
		<div class="ps-offer-meta__header-grid">
			{% if has_header_left %}
				<div class="ps-offer-meta__header-left">{{ header_left }}</div>
			{% endif %}

			{% if has_header_right %}
				<div class="ps-offer-meta__header-right">{{ header_right }}</div>
			{% endif %}
		</div>
	{% endif %}

	{% if has_content %}
		<div class="ps-offer-meta__content">
			{{ content }}
		</div>
	{% endif %}

	{% if has_footer %}
		<div class="ps-offer-meta__footer">
			{{ footer }}
		</div>
	{% endif %}
</div>
